@import "tailwindcss";

@theme {
  --color-brand-bg: #09090b;
  --color-brand-card: #141417;
  --color-brand-accent: #38bdf8;
  --color-brand-muted: #a1a1aa;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-brand-bg text-zinc-50 antialiased;
  }
}
